  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#3b88a4);
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}
.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #6037f4;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(public/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(public/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 768px) {
    .to-do-app {
        padding: 30px 20px 50px;
    }

    ul li {
        font-size: 14px;
        padding: 10px 6px 10px 40px;
    }
}

@media only screen and (max-width: 480px) {
    .to-do-app {
        padding: 20px 10px 40px;
    }

    ul li {
        font-size: 12px;
        padding: 8px 4px 8px 30px;
    }
}